---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <main class="flex-center flex-col border border-amber-200"> -->
  <main class="flex flex-col gap-12 border border-bs-rose-500">
    <!-- Hero -->
    <section class="flex-center border border-amber-200"></section>
    <section class="border border-orange-400">World</section>
  </main>
</Layout>
