---
import HeroCard from "../components/Card/HeroCard.astro";
import Layout from "../layouts/Layout.astro";
import ContentClient from "@/components/ContentClient";
---

<Layout>
  <!-- <main class="flex-center flex-col border border-amber-200"> -->
  <main class="flex flex-col h-full w-full">
    <!-- Hero -->
    <section class="flex-center border min-h-100 border-amber-200">
      <HeroCard
        title="Programmming and Automative tasks"
        description="Arquitetura CI/CD robusta utilizando GitHub Actions e AWS para automação de entrega contínua, reduzindo o tempo de build em ambientes de produção."
        socials={["linkedin", "GitHub Actions", "AWS", "Automação"]}
      />
    </section>
    <!-- Content Section -->
    <section class="flex-center border border-amber-800">
      <ContentClient client:load>
        <div slot="blogContentSlot">blog content</div>
        <div slot="projectContentSlot">project content</div>
      </ContentClient>
    </section>
  </main>
</Layout>
