---
import ClickSpark from "@/components/ui/clickspark";
import "../styles/global.css";
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Portifolio | Vitor Dev</title>
	</head>

	<body class="min-h-screen max-w-7xl pt-12 mx-auto font-body">
		<ClickSpark
			sparkSize={8}
			sparkRadius={15}
			duration={400}
			sparkCount={8}
			client:load
		>
			<slot />
		</ClickSpark>
	</body>
</html>
